html {
    scroll-behavior: smooth;
}

body {
    color: black;
    letter-spacing: 0 !important;
}

.btn-success {
    background-color: #2A962D !important;
}

.btn-primary {
    background-color: #0681D8 !important;
}

.btn-secondary {
    background-color: #A4A4A4 !important;
    border: none;
}

.eco-col {
    width: 542px;
    height: 95px;
}

.eco-btn {
    font-family: Arial;
    font-size: 25px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    width: 542px;
    height: 95px;
}

div.card.text-white {
    height: 454px !important;
    border: none;
}

.banner {
    border-radius: 5px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.16));
    padding-top: 56px;
    padding-left: 76px;
    padding-right: 96px;
    font-size: 20px;
}
.banner .card-title {
    margin-bottom: 44px;
    font: Bold 65px Arial;
    letter-spacing: 0px;
}
.banner .card-text {
    padding-bottom: 26px;
}

.add-case {
    font-size: 20px;
    width: 266px;
    height: 64px;
    border-radius: 3px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.16);
}
.add-case span {
    position: relative;
}
.add-case span:first-child {
    top: -25px;
    margin-left: 40px;
    margin-top: 21px;
    margin-bottom: 21px;
}
.add-case span:last-child {
    font-family: "Segoe UI";
    font-size: 50px;
    margin-left: 22px;
    top: -17px;
}

.cases-nav {
    height: 77px;
    margin-top: 34px;
    background-color: #E2E2E2;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
}
.cases-nav * {
    color: #2D2D2D;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
}
.cases-nav a:hover {
    color: #2D2D2D;
}
#year-selector {
    width: 164px;
    height: 43px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    background-color: white;
}
#year-selector span {
    margin-right: 20px;
}
.cases-nav a:first-child span, .cases-nav a:last-child span {
    margin-right: 26px;
}
.cases-nav a:first-child {
    margin-right: 247px;
}
.cases-nav a:last-child {
    margin-left: 323px;
}

.polygon {
    transition: 0.3s;
    width: 15px;
    height: 13px;
}

.line {
    max-width: 1059px;
    height: 1px;
    background: black;
}

.content {
    margin-top: 39px;
    border: none;
}
.content .card {
    height: 100%;
    font-size: 16px;
    font-family: Arial;
}
.content .card .card-header .btn-link {
    color: black;
    font-size: 20px;
    font-family: Arial;
    transition: 0.5s;
}
.content .card .card-header .btn-link .row .col .name {
    margin-left: 42px;
}
.content .card .card-header .btn-link:hover {
    text-decoration: none;
}
.content .card .card-header .btn-link:focus {
    text-decoration: none;
    box-shadow: none !important;
    font-weight: bold;
    font-size: 21px;
}
.content .card .card-body {
    max-width: 1059px;
}
.content .card .card-body h3 {
    font-family: Arial;
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 44px;
}
.content .card .card-body .card-body-content {
    margin-left: 12px;
    margin-bottom: 70px;
}
.content .card .card-body .card-body-links {
    font-family: Arial;
    font-size: 20px;
    color: #0101D6;
}
.content .card .card-body .card-body-links a {
    color: #0101D6;
}

#catalog-form {
    max-width: 960px;
    background-color: #F5F5F5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.34);
    padding: 52px 158px 57px 158px;
}
#catalog-form h2 {
    margin-bottom: 50px;
    font-size: 25px;
    font-family: Arial;
    letter-spacing: 1.25px;
}
#catalog-form input, #catalog-form textarea {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
}
#catalog-form input[type="submit"] {
    margin-top: 34px;
    border-radius: 0;
    padding: 19px 98px;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 20px;
}
#catalog-form input:not([type="submit"]), #catalog-form textarea{
    min-width: 228px;
    height: 45px;
    margin-bottom: 40px;
}
#catalog-form textarea {
    resize: none;
    min-height: 94px;
}
#catalog-form label {
    margin-bottom: 30px;
    font-family: Arial;
    font-size: 18px;
}

.mfp-bg {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 0.65;
}

.mfp-close {
    margin-top: 52px;
    margin-right: 58px;
    font-size: 60px;
    color: black !important;
}

.thank-you-alert-box {
    max-width: 960px;
    height: 180px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #00000057;
    border-radius: 5px;
}

.thank-you-alert-box h5 {
    padding: 50px 158px;
    text-align: center;
    font-family: Arial;
    font-size: 25px;
    letter-spacing: 1.25px;
}

#pagination .page-link {
    background-color: #2A962D !important;
    color: white;
}
#pagination li:hover {
    color: white;
}
#pagination span.page-link {
    border-color: white;
}
